<%- layout('layouts/boilerplate.ejs') %>
<form action="/campground/<%= campground._id %>/add_img" method="post" class="validated-form" novalidate enctype="multipart/form-data">
    <div class="mb-3">
        <label for="image" class="form-label">Select Images: </label>
        <input type="file" class="form-control" name="images" id="image" multiple required>
    </div>
    <input type="submit" class="btn btn-success" value="Add Images">
</form>