<% layout('layouts/boilerplate.ejs')  %>
<h1 class="heading">Login</h1>
<form action="/login" method="post" class="form-style col-lg-4 col-md-8 offset-md-2 offset-lg-4 validated-form" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username: </label>
        <input type="text" class="form-control" name="username" id="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password: </label>
        <input type="password" class="form-control" name="password" id="password" required >
    </div>
    <button class="btn btn-success">Login</button>
</form>