<% layout('layouts/boilerplate.ejs') %>
<h1 class="heading">Add Campground</h1>

<form action="/campground/new" method="post" class="form-style col-lg-6 col-md-10 offset-md-1 offset-lg-3 validated-form" novalidate enctype="multipart/form-data">
    <div class="mb-3">
        <label for="name" class="form-label">Name: </label>
        <input type="text" name="name" id="name" class="form-control" required>
        <div class="invalid-feedback">
            Name is required.
        </div>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price: </label>
        <div class="input-group has-validation">
            <span class="input-group-text">&#8377;</span>
            <input type="text" name="price" id="price" class="form-control" required>
            <div class="invalid-feedback">
                Price is required.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location: </label>
        <input type="text" name="location" id="location" class="form-control" required>
        <div class="invalid-feedback">
            Location is required.
        </div>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image URL: </label>
        <input type="file" name="image" id="image" class="form-control" multiple>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description: </label>
        <textarea name="description" id="description" class="form-control"></textarea>
    </div>
    <input type="submit" value="Add Campground" class="w-100 btn btn-success">
</form>

